* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    width: auto;
    background-image: url(../assets/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.navbutton{
    text-decoration: none;
    width: 6rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: antiquewhite;
    color: green;
    border-radius: 15%;
}

.navbutton:visited {
    text-decoration: none;
    padding: 2rem;
    background-color: antiquewhite;
    color: black;
    border-radius: 15%;
}

.navbutton:hover {
    background-color: lightcoral;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding: 2rem;
}

.column {
    color: white;
    padding: 2rem;
}

@media screen and (min-width: 1024px) {
    
    nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: silver;
        min-height: 8rem;
        opacity: 0.9;
    }

    .content-box {
        background-color: burlywood;
        width: 1024px;
        margin: 4rem;
        border-radius: 10px;
        opacity: 0.9;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    
    nav {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        align-items: center;
        background-color: goldenrod;
        min-height: 8rem;
    }

    .content-box {
        background-color: burlywood;
        width: 512px;
        margin: 4rem;
        border-radius: 10px;
        opacity: 0.9;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}