:root {
    --main-box-color: rgba(9, 153, 93, 0.8);
    --main-link-color: rgb(108, 173, 148);
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace, Helvetica, sans-serif

}

html {
    min-height: 100%;
    width: auto;
    background-image: url(../assets/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size: 2rem !important;
    padding: 1rem;
}

.fa-github {
    background: #6e5494;
    color: white;
    font-size: 2rem !important;
    padding: 1rem;
}

.fa-xing {
    background: #026466;
    color: white;
    font-size: 2rem !important;
    padding: 1rem;
}

.socialBar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbutton {
    text-decoration: none;
    min-width: 6rem;
    text-align: center;
    padding: 1rem;
    background-color: white;
    color: green;
    border-radius: 15px;
    font-size: 2rem;
}

.navbutton:visited {
    color: black;
}

.navbutton:hover {
    background-color: var(--main-link-color);
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding: 2rem;
}

.column {
    color: white;
    padding: 2rem;
}

.profile-picture {
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    outline: black 2px solid;
}

@media screen and (min-width: 1024px) {
    
    nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        min-height: 8rem;
        background: linear-gradient(var(--main-box-color), var(--main-box-color));
    }

    .content-box {
        background-color: burlywood;
        width: 1024px;
        margin: 4rem;
        border-radius: 10px;
        font-size: 1rem;
        background: linear-gradient(var(--main-box-color), var(--main-box-color));
    }

    .content-box::after {
        background-color: burlywood;
        width: 1024px;
        margin: 4rem;
        border-radius: 10px;
        font-size: 1rem;
        opacity: 0.95;
        z-index: 1;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    
    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        background: linear-gradient(var(--main-box-color), var(--main-box-color));
        min-height: 8rem;
    }

    .content-box {
        background-color: burlywood;
        width: 512px;
        margin: 4rem;
        border-radius: 10px;
        background: linear-gradient(var(--main-box-color), var(--main-box-color));
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}